/*
#5680E9;
#84CEEB;
#5AB9EA;
#C1C8E4;
#8860D0;
 */

body, p, a, ul, ol, li, button {
  font-family: 'Bellota Text', sans-serif
}

h1, h2, h3 {
  font-family: 'Bellota', cursive;
}

h1 {
  font-size: 4vw;
}

.App {
  border: 1px solid gray;
  margin: 0 auto;
}

player {
  height: 1000px;
}
.credit {
  background-color: #8860D0;
  color: #C1C8E4;
  display: block;
  text-align: center;
  padding: 20px;
}

.App player {
  height: 500px;
  display: block;
}

#player {
  text-align: center;
}

button {
  font-size: 18px;
  margin: 10px;
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  height: 100px;
}

button:hover{
  background-color: #5AB9EA;
}

header div:first-child {
  width: 100%;
  text-align: center;
}

header div:first-child p {
  font-size: 2vw;
}

/* sibling selector or could use  .settings */
header div+div {
  position: absolute;
  top: 10px;
  right: -10%;
  width: 150px;
  text-align: center;
}

.settings img{
  height: 50px;
  width: 50px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: white;
  font-weight: bold;
}

footer {
  width: 100%;
  clear: both;
}



/* Breakpoints source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    margin: 0;
  }

  header div+div {
    right: -6%;
  }
}

.tempo input{
  width: 80%;
  text-align: center;
  display: inline-block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .App {
    width: 80%
  }

  header div+div {
    right: 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    width: 70%
  }

  header div+div {
    right: 11%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    width: 60%
  }

  header div+div {
    right: 17%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
    width: 50%
  }

  header div+div {
    right: 22%;
  }
}
